<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test">
    <listeners>
        <listener class-name="com.api.listeners.ITestListenerClass"></listener>
    </listeners>
    <test name="Task_D_Testcase">
        <classes>
            <class name="com.api.testcases.Task_D_Testcase"></class>
        </classes>
    </test>
</suite>